doctype html
html
	head
	title 奇毅李的小爬虫
	link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/css/layout.css")
	script(src="/jquery/dist/jquery.min.js")
	script(src="/bootstrap/dist/js/bootstrap.min.js")
	script(src="/jquery_lazyload/jquery.lazyload.js")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="author" content="奇毅李的小爬虫")
	meta(name="keywords" content="科技资讯,旅游攻略,动态,宏观,趋势,创业,精选,有料,干货,有用,内幕,node,Node.js,nodejs")
	meta(name="description" content="奇毅李的小爬虫!靠谱的资讯,最佳的资讯,海量资讯图片、游记、科技、趋势、干货等信息,信息更全面")
	link(rel="shortcut icon" href="/spider/favicon.ico")

	script.
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?3dee3db28b49c03dc9a015266aab63de";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	block head
	body
		header
			.container
				.row
					.col-xs-12
						h1 奇毅李的小爬虫
		nav.navbar.navbar-default(role="navigation")
			div.container-fluid
				div.navbar-header
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#example-navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(class="navbar-brand", href="#")
				div.collapse.navbar-collapse#example-navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/") 首页
						each source in sources
							li
								a(href="/?source=#{source.code}") #{source.name}
						li
							a(href="/") ...
		div.container
			div.row
				div.col-md-8
					block content
				div.col-md-4
					p 不要<b style="color:#295d72;">担心</b>，这里我打算放广告
					div.widget
						p a
					div.widget
						p b
					div.widget
						p c
		div.copyright
			div.container
				div.row
					div.col-sm-12
						span Copyright © 
							a(href="spider.liyiqi.me") 奇毅李的小爬虫
						span
							a(href="http://www.miibeian.gov.cn/", target="_blank") 粤ICP备17061748号
		a#back-to-top(href="#")
			i.glyphicon.glyphicon-menu-up
		script(src="/js/main.js")