doctype html
html
	head
	title #{title}
	link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/css/layout.css")
	script(src="/jquery/dist/jquery.min.js")
	script(src="/bootstrap/dist/js/bootstrap.min.js")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	block head
	body
		header
			.container
				.row
					.col-xs-12
						h1 奇毅李的小爬虫
		nav.navbar.navbar-default(role="navigation")
			div.container-fluid
				div.navbar-header
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#example-navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(class="navbar-brand", href="#")
				div.collapse.navbar-collapse#example-navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/") 首页
						each source in sources
							li
								a(href="/?source=#{source.code}") #{source.name}
		block content
		div.copyright
			div.container
				div.row
					div.col-sm-12
						span Copyright © 
							a(href="spider.liyiqi.me") 奇毅李的小爬虫
						span
							a(href="http://www.miibeian.gov.cn/", target="_blank") 粤ICP备17061748号
		a#back-to-top(href="#")
			i.glyphicon.glyphicon-menu-up
		script(src="/js/main.js")